.clients {
  background-color: $maingreen;
  padding: 90px 0;
}
.clients__title {
  color: $white;
  font-size: 27px;
  font-weight: 800;
  text-align: center;
}
.clients__subtitle {
  color: $white;
  font-size: 23px;
  text-align: center;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 55px;
}
