<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">About Roran.</h2>
    <h3 class="about__subtitle">Creative Studio</h3>
    <div class="divider"></div>
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. vulpu
    </p>
    <div class="about__items">
      <div class="about__item">
        <img class="about__item-img" src="img/about/block1Icon.png" alt="" />
        <h4 class="about__item-title">Some fancy <span>colors</span></h4>
        <p class="about__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
        </p>
      </div>
      <div class="about__item">
        <img class="about__item-img" src="img/about/block2Icon.png" alt="" />
        <h4 class="about__item-title">Enough <span>coffee breaks</span></h4>
        <p class="about__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
        </p>
      </div>
      <div class="about__item">
        <img class="about__item-img" src="img/about/block3Icon.png" alt="" />
        <h4 class="about__item-title">A little bit of <span>magic</span></h4>
        <p class="about__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
        </p>
      </div>
    </div>
  </div>
</section>
