<div class="clients">
  <div class="container">
    <h2 class="clients__title">Some of our clients</h2>
    <h3 class="clients__subtitle">
      We
      <img
        class="clients__subtitle-img"
        src="../img/clients/heart.png"
        alt=""
      />
      single one
    </h3>
    <div class="divider"></div>
    <div class="clients__items">
      <div class="clients__item">
        <img src="../img/clients/Mashable.png" alt="" />
      </div>
      <div class="clients__item">
        <img src="../img/clients/jQuery.png" alt="" />
      </div>
      <div class="clients__item">
        <img src="../img/clients/LunarTemplates.png" alt="" />
      </div>
      <div class="clients__item">
        <img src="../img/clients/VHDesign.png" alt="" />
      </div>
    </div>
  </div>
</div>
