<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__copyright">© 2014 Roran. All rights reserved</div>
      <a href="#promo"><img src="img/icons/Arrow.png" alt="up" /></a>
      <div class="footer__socials">
        <a href="#" class="socials__link"
          ><span class="icon-linkedin2"></span
        ></a>
        <a href="#" class="socials__link">
          <span class="icon-pinterest2"></span></a
        ><a href="#" class="socials__link">
          <span class="icon-twitter"></span></a
        ><a href="#" class="socials__link"
          ><span class="icon-facebook"></span
        ></a>
      </div>
    </div>
  </div>
</footer>
