<div class="numbers">
  <div class="container">
    <div class="numbers__items">
      <div class="numbers__item">
        <img
          src="../img/icons/number1Icon.png"
          alt=""
          class="numbers__item-img"
        />
        <div>
          <p class="numbers__item-title">1085</p>
          <p class="numbers__item-text">Cocktail parties</p>
        </div>
      </div>
      <div class="numbers__item">
        <img
          src="../img/icons/number2Icon.png"
          alt=""
          class="numbers__item-img"
        />
        <div>
          <p class="numbers__item-title">102</p>
          <p class="numbers__item-text">Cocktail parties</p>
        </div>
      </div>
      <div class="numbers__item">
        <img
          src="../img/icons/number3Icon.png"
          alt=""
          class="numbers__item-img"
        />
        <div>
          <p class="numbers__item-title">25</p>
          <p class="numbers__item-text">BBQ meetings</p>
        </div>
      </div>
      <div class="numbers__item">
        <img
          src="../img/icons/number4Icon.png"
          alt=""
          class="numbers__item-img"
        />
        <div>
          <p class="numbers__item-title">29</p>
          <p class="numbers__item-text">Cocktail parties</p>
        </div>
      </div>
    </div>
  </div>
</div>
