<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Portfolio</h2>
    <h3 class="portfolio__subtitle">This is what we’ve been working on</h3>
    <div class="divider"></div>
    <div class="nav-tabs">
      <a href="#" data-tab="1" class="nav-tab">Web</a>
      <a href="#" data-tab="2" class="nav-tab">Digital Art</a>
      <a href="#" data-tab="3" class="nav-tab">Illustrations</a>
      <a href="#" data-tab="4" class="nav-tab">Branding</a>
      <a href="#" data-tab="5" class="nav-tab active">All</a>
    </div>
    <div class="tab-content">
      <div data-tab-content="1" class="tab-pane">
        <img src="img/portfolio/portfolio1.png" alt="" />
        <img src="img/portfolio/portfolio2.png" alt="" />
        <img src="img/portfolio/portfolio4.png" alt="" />
        <img src="img/portfolio/portfolio3.png" alt="" />
      </div>
      <div data-tab-content="2" class="tab-pane">
        <img src="img/portfolio/portfolio5.png" alt="" />
        <img src="img/portfolio/portfolio6.png" alt="" />
        <img src="img/portfolio/portfolio8png.jpg" alt="" />
        <img src="img/portfolio/portfolio7.png" alt="" />
      </div>
      <div data-tab-content="3" class="tab-pane">
        <img src="img/portfolio/portfolio9.png" alt="" />
        <img src="img/portfolio/portfolio12.png" alt="" />
        <img src="img/portfolio/portfolio11.png" alt="" />
        <img src="img/portfolio/portfolio10.png" alt="" />
      </div>
      <div data-tab-content="4" class="tab-pane">
        <img src="img/portfolio/branding1.jpg" alt="" />
        <img src="img/portfolio/branding2.jpg" alt="" />
        <img src="img/portfolio/branding3.jpg" alt="" />
        <img src="img/portfolio/branding4.jpg" alt="" />
      </div>
      <div data-tab-content="5" class="tab-pane active">
        <img src="img/portfolio/portfolio1.png" alt="" />
        <img src="img/portfolio/portfolio2.png" alt="" />
        <img src="img/portfolio/portfolio3.png" alt="" />
        <img src="img/portfolio/portfolio4.png" alt="" />
        <img src="img/portfolio/portfolio9.png" alt="" />
        <img src="img/portfolio/portfolio10.png" alt="" />
        <img src="img/portfolio/portfolio11.png" alt="" />
        <img src="img/portfolio/portfolio12.png" alt="" />
      </div>
    </div>
  </div>
</section>
