<section class="promo" id="promo">
  <div class="container">
    <h1 class="promo__title">Roran.</h1>
    <h2 class="promo__subtitle">PSD TEMPLATE</h2>
    <p class="promo__descr">By LunarTemplates</p>
    <div class="promo__line"></div>
    <a href="https://lunartemplate.com" class="promo__link"
      >www.lunartemplates.com</a
    >
    <div class="promo__scroll">
      <a href="#footer"><img src="img/promo/arrow1.png" class="promo__scroll-img" alt="down" />
      <a href="#footer"><img src="img/promo/arrow2.png" class="promo__scroll-img" alt="down" />
      <a href="#footer"><img src="img/promo/arrow3.png" class="promo__scroll-img" alt="down" />
    </div>
  </div>
  <div class="promo__label">
    <span
      >Free to download <br />
      at lunartemplates.com
    </span>
  </div>
</section>
