<section class="services" id="services">
  <div class="container">
    <h2 class="services__title">Our Services</h2>
    <h3 class="services__subtitle">With Passion & Experience</h3>
    <div class="divider"></div>

    <div class="services__items">
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block1Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="services__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block2Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="services__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block3Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="services__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block1Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="services__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block2Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="about__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
      <div class="services__item">
        <img
          class="services__item-img"
          src="../img/icons/block3Icon.png"
          alt=""
        />
        <div>
          <h4 class="services__item-title">
            Dictum tincidunt <span>diam</span>
          </h4>
          <div class="divider"></div>
          <p class="services__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
