<section class="team" id="team">
  <div class="container">
    <h2 class="team__title">Meet...the team</h2>
    <h3 class="team__subtitle">With They are really nice!</h3>
    <div class="divider"></div>
    <div class="team__wrapper">
      <div class="swiper team__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide team__slide">
            <img
              class="team__slide-img"
              src="../img/team/teamwork.jpg"
              alt=""
            />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Jonathan Doe</div>
                <div class="team__slide-position">Creative director</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img class="team__slide-img" src="../img/team/team.jpg" alt="" />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Jaden Doe</div>
                <div class="team__slide-position">Mastermind</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img
              class="team__slide-img"
              src="../img/team/teamwork.jpg"
              alt=""
            />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Mister Doe</div>
                <div class="team__slide-position">Designer</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img class="team__slide-img" src="../img/team/team.jpg" alt="" />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Pom Doe</div>
                <div class="team__slide-position">Designer</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img class="team__slide-img" src="../img/team/team.jpg" alt="" />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Bill Mark</div>
                <div class="team__slide-position">Designer</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img
              class="team__slide-img"
              src="../img/team/teamwork.jpg"
              alt=""
            />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Jonathan Doe</div>
                <div class="team__slide-position">Creative director</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <img class="team__slide-img" src="../img/team/team.jpg" alt="" />
            <div class="team__slide-footer">
              <div>
                <div class="team__slide-name">Jonathan Doe</div>
                <div class="team__slide-position">Creative director</div>
              </div>
              <div class="socials">
                <a href="#" class="socials__link">
                  <span class="icon-twitter"></span></a
                ><a href="#" class="socials__link"
                  ><span class="icon-facebook"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
